name: CI/CD Pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'adoptopenjdk'
          java-version: '17'

      - name: Give execute permission to gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew clean build -x test

      - name: Run tests
        run: ./gradlew test

      - name: Install Docker
        run: |
          sudo apt-get update
          sudo apt-get install -y docker.io

      - name: Build Docker image
        run: sudo docker build -t book-borrowing-system .

      - name: Run Docker container
        run: sudo docker run -d -p 8080:8080 book-borrowing-system

      - name: Verify Docker container is running
        run: docker ps

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to server
        run: echo "Deploying app"
        # Add your deployment steps here (e.g., push Docker image to Docker Hub, deploy to AWS, etc.)
